ol.java-hl-main {
	font-family: 'Monospace';
}

.java-hl-main pre {
	margin: 0;
}

.java-hl-main .diff {
	background: #ffff66;
}

.java-hl-main .error {
	background: #ffcc99;
}

.java-hl-comment {
	color: green;
}

.java-hl-inlinedoc {
	color: cornflowerblue;
}

.java-hl-reserved {
	color: blue;
}

.java-hl-identifier {
	color: firebrick;
}

.java-hl-number {
	color: darkorange;
}
